bin
dist
node_modules
launcher/build/linux/appimage/build
launcher/build/windows/nsis/MicrosoftEdgeWebview2Setup.exe

*.wrangler
*.bindings-tmp
*.env
*.task
*.pem

!api/wrangler.jsonc
!website/wrangler.jsonc