@font-face {
    font-family: 'Inter';
    src: url('../../../../assets/fonts/Inter.woff2');
}

@font-face {
    font-family: 'Lexend';
    src: url('../../../../assets/fonts/Lexend.woff2');
}

@font-face {
    font-family: 'Fredoka';
    src: url('../../../../assets/fonts/Fredoka.woff2');
}